#twolayer-diagram {
  position: absolute;
  width: 593px;
  height: 636px;
  left: 19px;
  top: 87px;

  z-index: 2;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

#twolayer-diagram > p {
  position: absolute;
  margin: 0;
  width: 178px;
  height: 19px;
  left: 49px;
  top: 13px;
}

#sun-and-space {
  position: absolute;
  width: 495.78px;
  height: 124.53px;
  left: 49px;
  top: 51px;
}

#sun {
  background-image: url("sun-inactive.png");
  position: absolute;
  width: 144px;
  height: 123px;
  left: 37px;
  top: 3px;
}

#sun.selected.step1,
#sun.CTAT-button--hover.step1,
#sun.CTAT-button--clicked.step1 {
  background-image: url("sun-active.png");
}

#space {
  position: absolute;
  background-image: url("space-inactive.png");
  width: 498px;
  height: 100px;
  left: 0px;
  top: 0px;
}

#space.selected.step1,
#space.CTAT-button--hover.step1,
#space.CTAT-button--clicked.step1 {
  background-image: url("space-active.png");
}

#layer2 {
  position: absolute;
  background-image: url("layer2-inactive.png");
  width: 498px;
  height: 38px;
  left: 49.46px;
  top: 291.06px;
}

#layer2.selected.step1,
#layer2.CTAT-button--hover.step1,
#layer2.CTAT-button--clicked.step1 {
  background-image: url("layer2-active.png");
}

#layer1 {
  position: absolute;
  background-image: url("layer1-inactive.png");
  width: 498px;
  height: 38px;
  left: 49.46px;
  top: 408.1px;
}

#layer1.selected.step1,
#layer1.CTAT-button--hover.step1,
#layer1.CTAT-button--clicked.step1 {
  background-image: url("layer1-active.png");
}

#surface {
  position: absolute;
  background-image: url("surface-inactive.png");
  width: 498px;
  height: 63px;
  left: 49.46px;
  top: 525.14px;
}

#surface.selected.step1,
#surface.CTAT-button--hover.step1,
#surface.CTAT-button--clicked.step1 {
  background-image: url("surface-active.png");
}

.arrow {
  z-index: -1;
}

#arrow1 {
  position: absolute;
  background-image: url("arrow1.png");
  width: 84px;
  height: 365px;
  left: 106px;
  top: 166px;
}

#arrow1.unselected {
  background-image: url("arrow1-step2-inactive.png");
}

#arrow1.CTAT-button--hover.selection-target,
#arrow1.CTAT-button--clicked {
  background-image: url("arrow1.png");
}

#arrow1-energy-combo-box,
#arrow1-energy-textfield {
  position: absolute;
  left: 169px;
  top: 221px;
}

#arrow2 {
  position: absolute;
  background-image: url("arrow2.png");
  width: 77px;
  height: 85px;
  left: 197px;
  top: 440px;
}

#arrow2.unselected {
  background-image: url("arrow2-step2-inactive.png");
}

#arrow2.CTAT-button--hover.selection-target,
#arrow2.CTAT-button--clicked {
  background-image: url("arrow2.png");
}

#arrow2-energy-combo-box,
#arrow2-energy-textfield {
  position: absolute;
  left: 257px;
  top: 485px;
}

#arrow3 {
  position: absolute;
  background-image: url("arrow3.png");
  width: 77px;
  height: 85px;
  left: 320px;
  top: 444px;
}

#arrow3.unselected {
  background-image: url("arrow3-step2-inactive.png");
}

#arrow3.CTAT-button--hover.selection-target,
#arrow3.CTAT-button--clicked {
  background-image: url("arrow3.png");
}

#arrow3-energy-combo-box,
#arrow3-energy-textfield {
  position: absolute;
  left: 379px;
  top: 465px;
}

#arrow4 {
  position: absolute;
  background-image: url("arrow4.png");
  width: 77px;
  height: 85px;
  left: 320px;
  top: 323px;
}

#arrow4.unselected {
  background-image: url("arrow4-step2-inactive.png");
}

#arrow4.CTAT-button--hover.selection-target,
#arrow4.CTAT-button--clicked {
  background-image: url("arrow4.png");
}

#arrow4-energy-combo-box,
#arrow4-energy-textfield {
  position: absolute;
  left: 379px;
  top: 373px;
}

#arrow5 {
  position: absolute;
  background-image: url("arrow5.png");
  width: 77px;
  height: 85px;
  left: 446px;
  top: 327px;
}

#arrow5.unselected {
  background-image: url("arrow5-step2-inactive.png");
}

#arrow5.CTAT-button--hover.selection-target,
#arrow5.CTAT-button--clicked {
  background-image: url("arrow5.png");
}

#arrow5-energy-combo-box,
#arrow5-energy-textfield {
  position: absolute;
  left: 505px;
  top: 342px;
}

#arrow6 {
  position: absolute;
  background-image: url("arrow6.png");
  width: 77px;
  height: 85px;
  left: 446px;
  top: 206px;
}

#arrow6.unselected {
  background-image: url("arrow6-step2-inactive.png");
}

#arrow6.CTAT-button--hover.selection-target,
#arrow6.CTAT-button--clicked {
  background-image: url("arrow6.png");
}

#arrow6-energy-combo-box,
#arrow6-energy-textfield {
  position: absolute;
  left: 505px;
  top: 255px;
}

#control-volumes {
  position: absolute;
  z-index: -2;
  width: 532px;
  height: 359px;
  left: 31px;
  top: 253px;
}

.control-volume-box {
  position: absolute;
  background-image: url("control-volume-box-inactive.png");
  width: 532px;
  height: 112px;
}

#control-volume-layer2 {
  top: 0px;
}

#control-volume-layer1 {
  top: 117px;
}

#control-volume-surface {
  top: 247px;
}

.control-volume-box.selected,
.control-volume-box.CTAT-button--hover.selection-target,
.control-volume-box.CTAT-button--clicked {
  background-image: url("control-volume-box-active.png");
}
