body {
  /* padding-bottom: 540px;
  padding-right: 250px; */
  width: 1350px;
  height: 1350px;
}

.header-title {
  position: absolute;
  width: 104px;
  height: 28px;
  left: 80px;
  top: 86px;
  margin: 0;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #001423;
}

.header-underline {
  position: absolute;
  width: 634.79px;
  height: 1px;
  left: 79px;
  top: 123px;

  background: #0681ff;
  border-radius: 2px;
}

.header-underline2 {
  position: absolute;
  width: 1210px;
  height: 2px;
  left: 79px;
  top: 123px;

  background: #ececec;
  mix-blend-mode: normal;
  opacity: 0.38;
  border-radius: 2px;
}

.problem-pane {
  position: absolute;
  width: 606px;
  /* height: 600px; */
  left: 80px;
  top: 144px;

  /* border-radius: 5px;
    border: 1px solid #73AD21; */
}

.problem-statement {
  height: 247px;
}

.problem-label {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001423;
  opacity: 0.34;

  margin-bottom: 10px;
}

.problem-text {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;

  padding: 0px 20px 0px 20px;

  margin-bottom: 20px;
}

p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #001423;
}

.solution-pane {
  position: absolute;
  width: 1207px;
  height: 743px;
  left: 80px;
  top: 410px;

  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.steps-tabbar {
  position: absolute;
  width: 1207px;
  height: 37.55px;
  top: 15.65px;
  /* background-color: aquamarine; */
}

.tab-label {
  position: absolute;
  width: 106.16px;
  height: 17.84px;
  /* top: 15.65px; */

  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0681ff;
}

.tab-label.tab1 {
  left: 173.09px;
}

.tab-label.tab2 {
  left: 549.27px;
}

.tab-label.tab3 {
  left: 930.09px;
}

.tab-label.disabled {
  color: #001423;
}

.current-tab-bottombar {
  position: absolute;
  width: 185.47px;
  height: 1.88px;
  left: 102px;
  top: 36px;

  background: #0681ff;
  border-radius: 3px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.current-tab-bottombar.tab1 {
  left: 102px;
}
.current-tab-bottombar.tab2 {
  left: 478px;
}
.current-tab-bottombar.tab3 {
  left: 859px;
}

.tabbar-bottom-border {
  position: absolute;
  width: 1207px;
  height: 1px;
  top: 38px;
  background-color: #e8e8e8;

  opacity: 0.75;
}

.problem-tabs {
  position: absolute;
  width: 100%;
  height: 691px;
  /* top: 54px; */
}

.ctat-pane {
  position: absolute;
  display: flex;
  width: 1207px;
  height: 147px;
  left: 79px;
  top: 1172px;
}

.CTATSkillWindow {
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 20px;
  height: 100%;
}

.hint-section {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-basis: 0;
}

#hint-window {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  margin-right: 12px;
}

.ctat-buttons-group {
  display: flex;
  flex-direction: column;
  width: 137px;
  height: 100%;
}

#hint-button {
  width: 100%;
  margin-bottom: 12px;
  flex-grow: 1;
  flex-basis: 0;
}

#done-button {
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  /* margin-bottom: -10px; */
}

.steps-main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.steps-main > div {
  position: absolute;
  width: 497px;
  top: 79px;
  left: 676px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.steps-main.step1 div p:nth-child(2) {
  color: #979797;
}

#step1-finish {
  background-image: url("step1-finish.png");
  position: absolute;
  width: 111px;
  height: 38px;
  left: 1069px;
  top: 248px;
}

#step1-go-to-step2 {
  background-image: url("step1-go-to-step2.png");
  position: absolute;
  width: 111px;
  height: 38px;
  left: 1069px;
  top: 248px;
}

#step2-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 44px;
}

#step2-table-labels {
  height: 48px;
}

#step2-table-labels > p {
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #001423;
  margin: 0;
}

#step2-table-labels > p:nth-child(1) {
  width: 89px;
}

#step2-table-labels > p:nth-child(2) {
  left: 171px;
}

#step2-table-labels > p:nth-child(3) {
  left: 364px;
}

#step2-table-separators {
  height: 2px;
}

#step2-table-separators > div {
  position: absolute;
  height: 2px;
  background: #0681ff;
  border-radius: 3px;
}

#step2-table-separators > div:nth-child(1) {
  width: 110px;
}

#step2-table-separators > div:nth-child(2) {
  left: 119px;
  width: 174px;
}

#step2-table-separators > div:nth-child(3) {
  left: 317px;
  width: 174px;
}

/* #step2-table-rows {
  display: flex;
} */

.step2-table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.step2-table-row > div {
  text-align: center;
}

.table-row-label {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  width: 110px;
}

.table-row-energy-in {
  width: 182px;
}

.table-row-equal-sign {
  width: 20px;
  text-align: center;
}

.table-row-energy-out {
  width: 180px;
}

#step2-table-buttons {
  display: flex;
  height: 38px;
  justify-content: flex-end;
  margin-top: 20px;
}

#step2-table-buttons > .CTATImageButton {
  margin: 0px 8px 0px 8px;
}

#step2-thats-all {
  background-image: url("step2-thats-all.png");
  width: 111px;
  height: 38px;
}

#add-equation {
  background-image: url("step2-add-more.png");
  width: 111px;
  height: 38px;
}

#solve-equations {
  background-image: url("step2-solve.png");
  width: 111px;
  height: 38px;
}

#step2-answer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 216px;
  margin-top: 28px;
  margin-bottom: 12px;

  border: 2px solid #f7b844;
  box-sizing: border-box;
  border-radius: 4px;
}

#step2-answer-box > div {
  margin: 0 20px 0 20px;
}

#step2-answer-box p {
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
#step2-answer-box p:first-child {
  font-weight: bold;
}

#step2-go-to-step3 {
  background-image: url("step2-go-to-step3.png");
  float: right;
  width: 111px;
  height: 38px;
}

.steps-main.step3 p {
  margin: 8px 0 8px 0;
}

#step3-surface-temperatures-block {
  display: flex;
  flex-direction: row;
}

#step3-surface-temperatures-block div {
  flex-grow: 1;
}

#step3-surface-temperatures-block div p {
  margin-bottom: 20px;
}

#step3-answer {
  /* display: flex; */
  position: relative;
  height: 123px;
  margin-top: 20px;
}

#step3-text-response {
  /* flex-grow: 1; */
  width: 100%;
  height: 100%;
}

#step3-text-response > textarea {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

#step3-text-submit {
  position: absolute;
  width: 111px;
  height: 38px;
  right: 8px;
  bottom: 8px;
  background-image: url("step3-submit.png");
}

#step3-text-submit > button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
}

#step3-reflection {
  margin-top: 18px;
}

#step3-reflection > p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #001423;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#step3-model-answer-box {
  padding: 4px 16px 16px 16px;
  border: 1px solid #f7b844;
  box-sizing: border-box;
  border-radius: 4px;
}
